.call-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-bottom>div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    min-width: 20vw;
    font-size: 13px;
    font-weight: 450;
}

.call-bottom>div :first-child {
    color: var(--grey);

}