@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --grey: rgba(99, 97, 97, 0.856);
  --purple: rgb(91, 13, 180);
  --light-purple: rgba(91, 13, 180, 0.541);
  --title-size: 13px;
}

.App {
  display: flex;
  gap: 10px;
}

.MuiBox-root {
  width: 300px;
  height: 400px;
  outline: none;
  border-radius: 20px;
  border: none;
}