.sidebar-container {
    height: 100vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar-top {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
}

.logo-container>img {
    width: 50px;
}

.sidebar-title>span {
    font-size: 22px;
    font-weight: 600;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
}



.menu-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--grey);
    font-family: 450;
    border-radius: 12px;
    width: 100%;

}

.sidebar-bottom {
    padding: 20px;
}