.campign-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
    font-size: 13px;

}

.campign-item:hover {
    background-color: rgb(230, 230, 233);
}

.item-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.item-left>.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(235, 196, 202);
}